[submodule "crop_information_system"]
	path = crop_information_system
	url = https://github.com/macrawat/Summer_Project
[submodule "Boffins"]
	path = Boffins
	url = https://github.com/ankitsh/pro
[submodule "Medi-Friend"]
	path = Medi-Friend
	url = https://github.com/packcode/Medi-Friend
[submodule "MyWater_MyCondition"]
	path = MyWater_MyCondition
	url = https://github.com/vineetamehta/MyWater_MyCondition
