[submodule "crop_information_system"]
	path = crop_information_system
	url = https://github.com/macrawat/Summer_Project
[submodule "Boffins"]
	path = Boffins
	url = https://github.com/ankitsh/pro
[submodule "Medi-Friend"]
	path = Medi-Friend
	url = https://github.com/packcode/Medi-Friend
[submodule "MyWater_MyCondition"]
	path = MyWater_MyCondition
	url = https://github.com/vineetamehta/MyWater_MyCondition
[submodule "AnAnt"]
	path = AnAnt
	url = https://github.com/rajpushkar/Summer_Project
[submodule "Piped_water_information_system"]
	path = Piped_water_information_system
	url = https://github.com/coderzz/project---PWAS
[submodule "Know_Your_City"]
	path = Know_Your_City
	url = https://github.com/tanviarora/Know_Your_City
[submodule "Home-Away-From-Home"]
	path = Home-Away-From-Home
	url = https://github.com/anjalig/Home-Away-From-Home
[submodule "Postal_pocket"]
	path = Postal_pocket
	url = https://github.com/aanchalnagpal/Postal_pocket
[submodule "know_your_mp"]
	path = know_your_mp
	url = https://github.com/deep1109/know_your_mp
[submodule "common_service_centers"]
	path = common_service_centers
	url = https://github.com/jyoti91/project
[submodule "exim-guide"]
	path = exim-guide
	url = https://github.com/kapoorabhish/exim-guide
